db = open("database.txt","w")
def register():
  db = open("database.txt","r")
  Username = input("Create Username/mail id:")
  Password = input("Create Password:")
  Password1 = input("Confirm password")
  d = []
  f = []
  for i in db:
    a,b = i.split(", ")
    b = b.strip()
    d.append(a)
    f.append(b)
    data = dict(zip(d, f))
    print(data)
  if Password != Password1:
    print("Password don't match, restart")
    register()
  else:
      if len (Password)==5<=16:
        register()
      elif len (Password)<=5:
        print("Password too short, restart:")
        register()
      elif len (Password)>16:
        print("Password too long, restart:")
        register()
      elif Username in db:
        print("username/mail id exists")
        register()
      else:
        db = open("database.txt", "a")
        db.write(Username+", "+Password+"\n")
        print("success")
register()
def access():
  db = open("database.txt","r")
  Username = input("Enter Username/mail id:")
  Password = input("Enter Password:")
  if not len(Username or Password)<1:
    d = []
    f = []
    for i in db:
      a,b = i.split(", ")
      b = b.strip()
      d.append(a)
      f.append(b)
      data = dict(zip(d, f))
    try:
        if data[Username]:
          try:
             if Password == data[Username]:
              print("Login success")
              print("Hi,", Username)
             else:
              print("Password or Username/mail id incorrect")
          except:
             print("incorrect password or username/mail id")
        else:
          print("Username/mail id dosen't exist")
    except:
        print("Login error")
def home(option=None):
  option = input("Login | Signup:")
  if option == "Login":
    access()
  elif option == "Signup":
    register()
  else:
    print("Please enter an option")
home()
